<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{10,16}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{10,16}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,46},{18,26}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{18,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,22},{22,32}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,48},{28,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{32,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{34,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{34,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{34,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{34,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,94},{32,42}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{26,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{26,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{18,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{18,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb8e177ca7931df7a6505620f42bace$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
