<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thunder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,168},{40,56}}</string>
                <key>offset</key>
                <string>{5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,168},{48,110}}</string>
                <key>offset</key>
                <string>{9,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,0},{48,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{54,164}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{54,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,240},{104,234}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{104,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{128,236}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{128,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,236}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{134,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{150,74}}</string>
                <key>offset</key>
                <string>{-3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,159},{150,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>thunder_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{138,80}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,155},{138,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thunder.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f66250b52a466ded08f822d4e2104fd0$</string>
            <key>textureFileName</key>
            <string>thunder.png</string>
        </dict>
    </dict>
</plist>
