<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mokusei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>mokusei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,240}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mokusei.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd710f6188d6c0fb3114b1c6435e0730$</string>
            <key>textureFileName</key>
            <string>mokusei.png</string>
        </dict>
    </dict>
</plist>
