<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hanabi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>hanabi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>hanabi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a27c3b5ee400db5a0c6231b02aaebc$</string>
            <key>textureFileName</key>
            <string>hanabi.png</string>
        </dict>
    </dict>
</plist>
