<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hanabi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,368},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,368},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hanabi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>hanabi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e9ed700b4913194684e41a64b24c17f$</string>
            <key>textureFileName</key>
            <string>hanabi.png</string>
        </dict>
    </dict>
</plist>
