<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{20,432}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{20,432}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{68,436}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{68,436}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{94,450}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{94,450}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{120,462}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{120,462}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{150,464}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{150,464}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,466}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{178,466}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{144,454}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{144,454}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,444}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{106,444}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{68,438}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{68,438}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
            <key>light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{20,432}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{20,432}}</string>
                <key>sourceSize</key>
                <string>{240,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1f44a2b183ef7ff9880a78e8d7b32a1$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
